#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: circle;
}

input{
  height: 2rem;
  border-radius: 10px;
}

header{
  display: flex;
 
  align-items: center;
}