li>p{
    text-align: center;
}
span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-content {
    position: relative;

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #222222;
        opacity: 0;
        transition: all .3s ease;
    }

    &:hover{
        .image-overlay{
            opacity: .8;
        }
    }
}

nav{
    grid-area: top;
}
.content{
    grid-area: center;
}

footer{
    grid-area: bottom;
}
aside{
    grid-area:left;
}